/* h3{ 
    color: green
} */

li{
    color: white;
    list-style-type: none;
}

.card-body card-body-cascade text-center wow fadeIn{
    background: linear-gradient(to right, #16222a, #3a6073);
}
.fab {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}